@model Recodme.Labs.MarketAnalyzer.WebAPI.Models.Support.HomeDataPoco

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HomeDataPoco</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticker)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticker)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MarketAnalyzerRank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MarketAnalyzerRank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Forbes2000Rank)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Forbes2000Rank)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fitness)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fitness)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
