@model Recodme.Labs.MarketAnalyzer.FrontEnd.Models.Home.IndexViewModel

    <head>
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
    </head>

<br />

<html>


    <body>


        <header>

            <div id="headerTitle">

                    <h1>
                        Top 2000 Companies in USA
                    </h1>
            </div>
        </header>




        @*weightMultipliers*@
        <div>
            <form asp-action="Index">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <table class="tg" style="width:100%; vertical-align:central; max-height:100px; background-color:#437F97;">

                    <thead>
                        <tr>
                            <th style="max-width:100px; min-width:100px; text-align:center;">
                                <label asp-for="WeightNumberRoic" class="control-label"></label>
                            </th>
                            <th style="max-width: 100px;min-width: 100px;text-align: center;">
                                <label asp-for="WeightNumberEquity" class="control-label"></label>
                            </th>
                            <th style="max-width: 100px;min-width: 100px;text-align: center;">
                                <label asp-for="WeightNumberEPS" class="control-label"></label>
                            </th>
                            <th style="max-width: 100px;min-width: 100px;text-align: center;">
                                <label asp-for="WeightNumberRevenue" class="control-label"></label>
                            </th>
                            <th style="max-width: 100px;min-width: 100px;text-align: center;">
                                <label asp-for="WeightNumberPERatio" class="control-label"></label>
                            </th>
                            <th style="max-width: 100px;min-width: 100px;text-align: center;">
                                <label asp-for="WeightNumberDebtToEquity" class="control-label"></label>
                            </th>
                            <th style="max-width: 100px;min-width: 100px;text-align: center;">
                                <label asp-for="WeightNumberAssetsToLiabilities" class="control-label"></label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <input style="text-align:center; align-content:center;" asp-for="WeightNumberRoic" class="form-control" />
                                <span asp-validation-for="WeightNumberRoic" class="text-danger"></span>
                            </td>
                            <td>
                                <input style="text-align:center; align-content:center;" asp-for="WeightNumberEquity" class="form-control" />
                                <span asp-validation-for="WeightNumberEquity" class="text-danger"></span>
                            </td>
                            <td>
                                <input style="text-align:center; align-content:center;" asp-for="WeightNumberEPS" class="form-control" />
                                <span asp-validation-for="WeightNumberEPS" class="text-danger"></span>
                            </td>
                            <td>
                                <input style="text-align:center; align-content:center;" asp-for="WeightNumberRevenue" class="form-control" />
                                <span asp-validation-for="WeightNumberRevenue" class="text-danger"></span>
                            </td>
                            <td>
                                <input style="text-align:center; align-content:center;" asp-for="WeightNumberPERatio" class="form-control" />
                                <span asp-validation-for="WeightNumberPERatio" class="text-danger"></span>
                            </td>
                            <td>
                                <input style="text-align:center; align-content:center;" asp-for="WeightNumberDebtToEquity" class="form-control" />
                                <span asp-validation-for="WeightNumberDebtToEquity" class="text-danger"></span>
                            </td>
                            <td>
                                <input style="text-align:center; align-content:center;" asp-for="WeightNumberAssetsToLiabilities" class="form-control" />
                                <span asp-validation-for="WeightNumberAssetsToLiabilities" class="text-danger"></span>
                            </td>
                        </tr>
                    </tbody>

                </table>
                <div class="form-group">
                    </br>
                    <input type="submit" value="Go" class="btn btn-primary" style="background-color:#17A2BB; border:#17A2BB; width:5rem; float:right;" />
                    </br>
                    </br>
                    </br>
                </div>
            </form>
        </div>

        @*end weigthMultipliers*@



        @*Companies List*@

        <hr />
        <p></p>
        <table id="example" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(item => item.HomeDataPocos.FirstOrDefault().MarketAnalyzerRank)</th>
                    <th>@Html.DisplayNameFor(item => item.HomeDataPocos.FirstOrDefault().CompanyName)</th>
                    <th>@Html.DisplayNameFor(item => item.HomeDataPocos.FirstOrDefault().Ticker)</th>
                    <th>@Html.DisplayNameFor(item => item.HomeDataPocos.FirstOrDefault().StockPrice)</th>
                    <th>@Html.DisplayNameFor(item => item.HomeDataPocos.FirstOrDefault().Fitness)</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.HomeDataPocos.OrderBy(x => x.MarketAnalyzerRank))
                {
                    <tr>
                        <td>
                            <a asp-controller="CompanyDetails" asp-action="Details" asp-route-ticker="@item.Ticker" asp-route-weightNumberRoic="@Model.WeightNumberRoic" asp-route-weightNumberEquity="@Model.WeightNumberEquity" asp-route-weightNumberEps="@Model.WeightNumberEPS" asp-route-weightNumberRevenue="@Model.WeightNumberRevenue" asp-route-weightNumberPERatio="@Model.WeightNumberPERatio" asp-route-weightNumberDebtToEquity="@Model.WeightNumberDebtToEquity" asp-route-weightNumberAssetsToLiabilities="@Model.WeightNumberAssetsToLiabilities"> @item.MarketAnalyzerRank </a>
                        </td>
                        <td>
                            <a asp-controller="CompanyDetails" asp-action="Details" asp-route-ticker="@item.Ticker" asp-route-weightNumberRoic="@Model.WeightNumberRoic" asp-route-weightNumberEquity="@Model.WeightNumberEquity" asp-route-weightNumberEps="@Model.WeightNumberEPS" asp-route-weightNumberRevenue="@Model.WeightNumberRevenue" asp-route-weightNumberPERatio="@Model.WeightNumberPERatio" asp-route-weightNumberDebtToEquity="@Model.WeightNumberDebtToEquity" asp-route-weightNumberAssetsToLiabilities="@Model.WeightNumberAssetsToLiabilities">@item.CompanyName</a>
                        </td>
                        <td>
                            <a asp-controller="CompanyDetails" asp-action="Details" asp-route-ticker="@item.Ticker" asp-route-weightNumberRoic="@Model.WeightNumberRoic" asp-route-weightNumberEquity="@Model.WeightNumberEquity" asp-route-weightNumberEps="@Model.WeightNumberEPS" asp-route-weightNumberRevenue="@Model.WeightNumberRevenue" asp-route-weightNumberPERatio="@Model.WeightNumberPERatio" asp-route-weightNumberDebtToEquity="@Model.WeightNumberDebtToEquity" asp-route-weightNumberAssetsToLiabilities="@Model.WeightNumberAssetsToLiabilities">@item.Ticker</a>
                        </td>
                        <td>
                            <a asp-controller="CompanyDetails" asp-action="Details" asp-route-ticker="@item.Ticker" asp-route-weightNumberRoic="@Model.WeightNumberRoic" asp-route-weightNumberEquity="@Model.WeightNumberEquity" asp-route-weightNumberEps="@Model.WeightNumberEPS" asp-route-weightNumberRevenue="@Model.WeightNumberRevenue" asp-route-weightNumberPERatio="@Model.WeightNumberPERatio" asp-route-weightNumberDebtToEquity="@Model.WeightNumberDebtToEquity" asp-route-weightNumberAssetsToLiabilities="@Model.WeightNumberAssetsToLiabilities">@Math.Round(item.StockPrice, 2)</a>
                        </td>
                        <td>
                            <a asp-controller="CompanyDetails" asp-action="Details" asp-route-ticker="@item.Ticker" asp-route-weightNumberRoic="@Model.WeightNumberRoic" asp-route-weightNumberEquity="@Model.WeightNumberEquity" asp-route-weightNumberEps="@Model.WeightNumberEPS" asp-route-weightNumberRevenue="@Model.WeightNumberRevenue" asp-route-weightNumberPERatio="@Model.WeightNumberPERatio" asp-route-weightNumberDebtToEquity="@Model.WeightNumberDebtToEquity" asp-route-weightNumberAssetsToLiabilities="@Model.WeightNumberAssetsToLiabilities">@Math.Round((decimal)item.Fitness, 2)</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>


        <footer>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
            <script>
                $(document).ready(function () {
                    $('#example').DataTable();
                });</script>

        </footer>

    </body>
</html>
