@model Recodme.Labs.MarketAnalyzer.FrontEnd.Models.UserRecords.UserTransactionViewModel
@{
    ViewData["Title"] = "Portfolio";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

    <div class="container">
        <h2 style="text-align:center">My Portfolio</h2>

        <div id="Totals">
            <hr style="width:100%;text-align:center;margin-left:0">
            <h3>Overview</h3>
            <div class="row">
                <div class="col-md-6 col-lg-6">
                    <table class="table table-light">
                        <tbody>
                            <tr>
                                <td>
                                    Total Invested
                                </td>
                                <td style="text-align:right">
                                    @Math.Round((decimal)Model.TotalTransactions.TotalInvested, 2) $
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total Value
                                </td>
                                <td style="text-align:right">
                                    @Math.Round((decimal)Model.TotalTransactions.TotalValue, 2) $
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total Withdrawn
                                </td>
                                <td style="text-align:right">
                                    @Math.Round((decimal)Model.TotalTransactions.TotalWithdrawn, 2) $
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total Gain / Loss
                                </td>
                                <td style="text-align:right">
                                    @Math.Round((decimal)Model.TotalTransactions.TotalGainLoss, 2) $
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Total Gain / Loss (%)
                                </td>
                                <td style="text-align:right">
                                    @Math.Round((double)Model.TotalTransactions.TotalGainLossPercentage, 2) %
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Balance
                                </td>
                                <td style="text-align:right">
                                    @Math.Round((decimal)Model.TotalTransactions.Balance, 2) $
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6 col-lg-6">
                    blabla
                </div>
            </div>


            <hr style="width:100%;text-align:center;margin-left:0">
        </div>


        <table>
            <tr>
                <td class="text-left" style="padding-right:20px">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add Transaction</button>
                </td>
                <td class="text-left" style="padding-right:20px">
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#WeightModal">Weight Multipliers</button>
                </td>
            </tr>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content Transaction-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">New Transaction</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form asp-controller="UserRecords" asp-action="UserTransactions">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <table class="table text-sm-left table-light table-bordered table-hover">

                                <tbody>
                                    <tr>
                                        <td>
                                            <label asp-for="Companies" class="control-label"></label>
                                        </td>
                                        <td>
                                            <select asp-for="CompanyId" class="form-control select-fk" asp-items="@ViewBag.CompanyNames">
                                                <option></option>
                                            </select>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="NumberOfShares" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="NumberOfShares" class="form-control" />
                                            <span asp-validation-for="NumberOfShares" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="ValueOfShares" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="ValueOfShares" class="form-control" />
                                            <span asp-validation-for="ValueOfShares" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="IsAPurchaseOrSale" class="control-label"></label>
                                        </td>
                                        <td>
                                            <select asp-for="IsAPurchaseOrSale" class="form-control">
                                                <option value="0">Investment</option>
                                                <option value="1">Withdrawn</option>

                                            </select>
                                            <span asp-validation-for="IsAPurchaseOrSale" class="text-danger"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label asp-for="DateOfMovement" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="DateOfMovement" class="form-control" />
                                            <span asp-validation-for="DateOfMovement" class="text-danger"></span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="form-group modal-footer">
                                <input type="submit" value="Ok" class="btn btn-primary" style="background-color:#17A2BB; border:#17A2BB; width:5rem;" />
                                <br />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />




        <!-- Modal Weight Multipliers  -->
        <div class="modal fade" id="WeightModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">My Weight Multipliers</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form asp-action="Index" asp-controller="Home">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <table class="table text-sm-left table-light table-bordered table-hover">

                                <tbody>
                                    <tr>
                                        <td>
                                            <label asp-for="WeightNumberRoic" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="WeightNumberRoic" class="form-control" />
                                            <span asp-validation-for="WeightNumberRoic" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="WeightNumberEquity" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="WeightNumberEquity" class="form-control" />
                                            <span asp-validation-for="WeightNumberEquity" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="WeightNumberEPS" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="WeightNumberEPS" class="form-control" />
                                            <span asp-validation-for="WeightNumberEPS" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="WeightNumberRevenue" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="WeightNumberRevenue" class="form-control" />
                                            <span asp-validation-for="WeightNumberRevenue" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="WeightNumberPERatio" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="WeightNumberPERatio" class="form-control" />
                                            <span asp-validation-for="WeightNumberPERatio" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="WeightNumberDebtToEquity" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="WeightNumberDebtToEquity" class="form-control" />
                                            <span asp-validation-for="WeightNumberDebtToEquity" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="WeightNumberAssetsToLiabilities" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="WeightNumberAssetsToLiabilities" class="form-control" />
                                            <span asp-validation-for="WeightNumberAssetsToLiabilities" class="text-danger"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group modal-footer">
                                <input type="submit" value="Ok" class="btn btn-primary" asp-action="WeightMultiplier" asp-controller="UserRecords" style="background-color:#17A2BB; border:#17A2BB; width:5rem;" />
                                <br />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />



        
        @*___Transactions Table__v2__*@
        <table style="width:100%; vertical-align:central; max-height:100px; min-height:100px; background-color:#242c42; color:white;">

            <thead>
                <tr>
                    <th style="max-width:100px; min-width:100px; text-align:center;">
                        Company
                    </th>
                    <th style="max-width: 100px;min-width: 100px;text-align: center;">
                        Total shares
                    </th>
                    <th style="max-width: 100px;min-width: 100px;text-align: center;">
                        Total invested
                    </th>
                    <th style="max-width: 100px;min-width: 100px;text-align: center;">
                        Total withdrawn
                    </th>
                    <th style="max-width: 100px;min-width: 100px;text-align: center;">
                        Shares value
                    </th>
                    <th style="max-width: 100px;min-width: 100px;text-align: center;">
                        Total Gain/Loss
                    </th>
                    <th style="max-width: 100px;min-width: 100px;text-align: center;">
                        Total Gain/Loss (%)
                    </th>
                    <th style="width:6.25rem; text-align: center;">
                        Details
                    </th>
                </tr>
            </thead>

        </table>





        @foreach (var company in Model.CompaniesTransactions.OrderBy(x => x.CompanyName))
        {

            var name = company.CompanyName;
            var shares = company.SharesOwned;
            var totalinvested = company.TotalInvested;
            var withdrawn = company.TotalWithdrawn;
            var value = company.CurrentShareValue * (decimal)company.SharesOwned;
            var totalGainLoss = company.TotalGainLoss;
            var totalGainLossPercentage = company.TotalGainLossPercentage;


            <button type="button" class="collapsible" style="margin-top: 5px; vertical-align:central;">
                <table style="width:100%; vertical-align:central; max-height:100px;">
                    <tbody>
                        <tr>
                            <td style="max-width: 100px;min-width: 100px; max-height:100px; min-height:100px;">
                                @name
                            </td>
                            <td style="max-width: 100px;min-width: 100px;max-height:100px; min-height:100px; text-align:center">
                                @Math.Round((double)shares, 2)
                            </td>
                            <td style="max-width: 100px;min-width: 100px;max-height:100px; min-height:100px; text-align:center ">
                                @Math.Round((double)totalinvested, 2)
                            </td>
                            <td style="max-width: 100px;min-width: 100px;max-height:100px; min-height:100px; text-align:center">
                                @Math.Round((double)withdrawn, 2)
                            </td>
                            <td style="max-width: 100px;min-width: 100px;max-height:100px; min-height:100px; text-align:center">
                                @Math.Round((double)value, 2)
                            </td>
                            <td style="max-width: 100px;min-width: 100px;max-height:100px; min-height:100px; text-align:center">
                                @Math.Round((double)totalGainLoss, 2)
                            </td>
                            <td style="max-width: 100px;min-width: 100px;max-height:100px; min-height:100px; text-align:center">
                                @Math.Round((double)totalGainLossPercentage, 2) %
                            </td>
                            <td>
                                <a asp-controller="CompanyDetails" asp-action="Details" asp-route-ticker="@company.Ticker"> View </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </button>


            <div class="panel">

                @foreach (var transaction in company.UserTransactions.OrderBy(x => x.DateOfMovement))
                {
                    if (transaction.NumberOfShares != 0)
                    {
                        <table class="table table-sm alert-info align-content-center" style="background-color:white">
                            <thead>
                                <tr>
                                    <th>
                                        Number of Shares
                                    </th>
                                    <th>
                                        Value of Shares
                                    </th>
                                    <th>
                                        Date of Transaction
                                    </th>
                                    <th>
                                        Type of transaction
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>
                                        @transaction.NumberOfShares
                                    </td>
                                    <td>
                                        @Math.Round((decimal)transaction.ValueOfShares, 2)
                                    </td>
                                    <td>
                                        @transaction.DateOfMovement
                                    </td>
                                    <td>
                                        Investment
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <table class="table table-sm alert-info align-content-center">
                            <thead>
                                <tr>
                                    <th>
                                        Number of Shares
                                    </th>
                                    <th>
                                        Value of Shares
                                    </th>
                                    <th>
                                        Date of Transaction
                                    </th>
                                    <th>
                                        Type of transaction
                                    </th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <td>
                                        @transaction.NumberOfSharesWithdrawn
                                    </td>
                                    <td>
                                        @Math.Round((decimal)transaction.ValueOfSharesWithdrawn, 2)
                                    </td>
                                    <td>
                                        @transaction.DateOfMovement
                                    </td>
                                    <td>
                                        Withdrawn
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                }
            </div>
        }

    </div>



    <footer>

        @*_Transaction Table Script_*@ 
        <script>
            var acc = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                        panel.style.maxHeight = null;
                    } else {
                        panel.style.maxHeight = panel.scrollHeight + "px";
                    }
                });
            }
        </script>

    </footer>

</body>
</html>

