@model Recodme.Labs.MarketAnalyzer.FrontEnd.Models.UserRecords.UserTransactionViewModel
@{
    ViewData["Title"] = "Portfolio";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div class="container">
        <h2 style="text-align:center">Portfolio</h2>
        <div class="text-left">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add Transaction</button>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content Transaction-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">New Transaction</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form asp-controller="UserRecords" asp-action="UserTransactions">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <table class="table text-sm-left table-light table-bordered table-hover">

                                <tbody>
                                    <tr>
                                        <td>
                                            <label asp-for="Companies" class="control-label"></label>
                                        </td>
                                        <td>
                                            <select asp-for="CompanyId" class="form-control select-fk" asp-items="@ViewBag.CompanyNames">
                                                <option></option>
                                            </select>

                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="NumberOfShares" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="NumberOfShares" class="form-control" />
                                            <span asp-validation-for="NumberOfShares" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="ValueOfShares" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="ValueOfShares" class="form-control" />
                                            <span asp-validation-for="ValueOfShares" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="IsAPurchaseOrSale" class="control-label"></label>
                                        </td>
                                        <td>
                                            <select asp-for="IsAPurchaseOrSale" class="form-control">
                                                <option value="0">Purchase</option>
                                                <option value="1">Sale</option>

                                            </select>
                                            <span asp-validation-for="IsAPurchaseOrSale" class="text-danger"></span>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <label asp-for="DateOfMovement" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="DateOfMovement" class="form-control" />
                                            <span asp-validation-for="DateOfMovement" class="text-danger"></span>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>
                            <div class="form-group modal-footer">
                                <input type="submit" value="Ok" class="btn btn-primary" style="background-color:#86bc42; border:#86bc42; width:5rem;" />
                                <br />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />


        <div class="text-left">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#WeightModal">Weight Multipliers</button>
        </div>

        <!-- Modal Weight Multipliers  -->
        <div class="modal fade" id="WeightModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">My Weight Multipliers</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form asp-action="UserTransactions">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <table class="table text-sm-left table-light table-bordered table-hover">

                                <tbody>
                                    <tr>
                                        <td>
                                            <label asp-for="WeightNumberRoic" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="WeightNumberRoic" class="form-control" />
                                            <span asp-validation-for="WeightNumberRoic" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="WeightNumberEquity" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="WeightNumberEquity" class="form-control" />
                                            <span asp-validation-for="WeightNumberEquity" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="WeightNumberEPS" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="WeightNumberEPS" class="form-control" />
                                            <span asp-validation-for="WeightNumberEPS" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="WeightNumberRevenue" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="WeightNumberRevenue" class="form-control" />
                                            <span asp-validation-for="WeightNumberRevenue" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="WeightNumberPERatio" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="WeightNumberPERatio" class="form-control" />
                                            <span asp-validation-for="WeightNumberPERatio" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="WeightNumberDebtToEquity" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="WeightNumberDebtToEquity" class="form-control" />
                                            <span asp-validation-for="WeightNumberDebtToEquity" class="text-danger"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label asp-for="WeightNumberAssetsToLiabilities" class="control-label"></label>
                                        </td>
                                        <td>
                                            <input asp-for="WeightNumberAssetsToLiabilities" class="form-control" />
                                            <span asp-validation-for="WeightNumberAssetsToLiabilities" class="text-danger"></span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="form-group modal-footer">
                                <input type="submit" value="Ok" class="btn btn-primary" style="background-color:#86bc42; border:#86bc42; width:5rem;" />
                                <br />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />




        @*___Transactions Table___*@
        <table class="table text-sm-center table-dark table-bordered table-hover">

            <thead>
                <tr>
                    <th>
                        Company
                    </th>
                    <th>
                        Total shares
                    </th>
                    <th>
                        Total invested
                    </th>
                    <th>
                        Total withdrawn
                    </th>
                    <th>
                        Shares value
                    </th>
                    <th>
                        Total Gain/Loss
                    </th>
                </tr>
            </thead>
        </table>
        @foreach (var company in Model.CompaniesTransactions.OrderBy(x => x.CompanyName))
        {
            var name = company.CompanyName;
            var shares = company.SharesOwned;
            var totalinvested = company.Invested;
            var withdrawn = company.Withdrawn;
            var value = company.ShareValue;
            var totalGainLoss = company.TotalGainLoss;
            <button type="button" class="collapsible">
                <table class="table align-content-center table-bordered" >

                    <tbody>

                        <tr>

                            <td>
                                @name
                            </td>
                            <td>
                                @shares
                            </td>
                            <td>
                                @totalinvested
                            </td>
                            <td>
                                @withdrawn
                            </td>
                            <td>
                                @value
                            </td>
                            <td>
                                @totalGainLoss
                            </td>

                        </tr>

                    </tbody>

                </table>
            </button>
            <div class="content">

                @foreach (var transaction in company.UserTransactions.OrderBy(x => x.DateOfMovement))
                {
                    if (transaction.NumberOfShares != 0)
                    {
                        <table class="table table-sm alert-info align-content-center">
                            <thead>
                                <tr>
                                    <th>
                                        Number of Shares
                                    </th>
                                    <th>
                                        Value of Shares
                                    </th>
                                    <th>
                                        Date of Transaction
                                    </th>
                                    <th>
                                        Type of transaction
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @transaction.NumberOfShares
                                    </td>
                                    <td>
                                        @Math.Round((decimal)transaction.ValueOfShares, 2)
                                    </td>
                                    <td>
                                        @transaction.DateOfMovement
                                    </td>
                                    <td>
                                        Purchase
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <table class="table table-sm table-light align-content-center">
                            <thead>
                                <tr>
                                    <th>
                                        Number of Shares
                                    </th>
                                    <th>
                                        Value of Shares
                                    </th>
                                    <th>
                                        Date of Transaction
                                    </th>
                                    <th>
                                        Type of transaction
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        @transaction.NumberOfSharesWithdrawn
                                    </td>
                                    <td>
                                        @Math.Round((decimal)transaction.ValueOfSharesWithdrawn, 2)
                                    </td>
                                    <td>
                                        @transaction.DateOfMovement
                                    </td>
                                    <td>
                                        Withdrawn
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    }

                }

            </div>

        }


    </div>
</body>
</html>

